@import './colors.scss';

body {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

.butter-toast-tray.butter-toast-slim {

    .action-wrapper {
        width: 350px;
    }

    .toast {
        background-color: $md-grey-800;
        color: $md-grey-100;
        padding: 5px 10px;
        text-align: center;
        max-width: 350px;
        border-radius: 5px;
    }
}